<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DoNothing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>830E58B01D2C339D006C2529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>830E58C91D2C339D006C2529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>830E58D41D2C339D006C2529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
